body {
  font-family: var(--main-font);
  color: var(--first-text-color);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding-left: 15px;

  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
