.nav__logo {
  margin-right: 93px;
}
.nav__slogan {
  color: var(--highlight-color);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.nav__slogan--black {
  color: #000000;
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
