.footer__slogan--white {
  color: var(--white-color);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer__slogan {
  color: var(--highlight-color);
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
