:root {
  --first-text-color: #212121;
  --background-color: #e5e5e5;
  --highlight-color: #2196f3;
  --second-text-color: #757575;
  --white-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}
